@font-face {
  font-family: "NT Somic";
  src: url("../fonts/NT_somic/Fonts/NTSomic-Medium.otf") format("otf"), url("../fonts/NT_somic/Fonts/NTSomic-Medium.ttf") format("ttf"), url("../fonts/NT_somic/Fonts/NTSomic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NT Somic";
  src: url("../fonts/NT_somic/Fonts/NTSomic-Regular.otf") format("otf"), url("../fonts/NT_somic/Fonts/NTSomic-Regular.ttf") format("ttf"), url("../fonts/NT_somic/Fonts/NTSomic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NT Somic";
  src: url("../fonts/NT_somic/Fonts/NTSomic-Semibold.otf") format("otf"), url("../fonts/NT_somic/Fonts/NTSomic-Semibold.ttf") format("ttf"), url("../fonts/NT_somic/Fonts/NTSomic-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F3EBE1;
  font-family: "NT Somic", sans-serif;
  font-style: normal;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.home {
  background-image: url("../images/home_desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  padding: 220px 0;
}
.home img {
  display: none;
}
.home::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(76, 36, 10, 0) 0%, rgba(76, 36, 10, 0.7) 100%);
}
.home_in {
  max-width: 560px;
  position: relative;
  z-index: 4;
}
.home h6 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  color: #F3EBE1;
  margin-bottom: 28px;
}
.home p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #F3EBE1;
}

.tabs {
  padding: 120px 0 60px;
}
.tabs_head h6 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  color: #4C240A;
  margin-bottom: 28px;
}
.tabs_head button {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #4C240A;
  padding: 13px 30px;
  border-radius: 30px;
  border: 1px solid #4C240A;
}
.tabs_head button.active {
  background-color: #4C240A;
  color: #F3EBE1;
}
.tabs_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.guardians {
  padding: 60px 0 120px 0;
}
.guardians .container {
  display: flex;
  align-items: stretch;
  gap: 40px;
  position: relative;
}
.guardians_right {
  position: absolute;
  right: -120px;
  top: 0;
  bottom: 0;
  margin: 0;
}
.guardians_right img {
  max-width: 600px;
  height: 100%;
}
.guardians_left {
  max-width: 660px;
}
.guardians_left img {
  display: none;
}
.guardians h6 {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  color: #4C240A;
  margin-bottom: 28px;
}
.guardians p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #4C240A;
}
.guardians ul {
  margin-top: 40px;
}
.guardians ul li {
  border-bottom: 1px solid #D9C8BB;
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.guardians ul li:first-child {
  border-top: 1px solid #D9C8BB;
}
.guardians ul span {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  color: #4C240A;
}
.guardians ul a {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #9F8775;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 20px);
  }
  .guardians {
    padding: 52px 0;
  }
  .guardians_right {
    display: none;
  }
  .guardians_left {
    max-width: 100%;
  }
  .guardians_left h6 {
    color: #4C240A;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
  .guardians_left p {
    margin-bottom: 48px;
  }
  .guardians_left img {
    display: block;
    width: 100%;
    transform: scale(1.1);
  }
  .guardians_left ul {
    margin-top: 48px;
  }
  .guardians_left ul span {
    font-size: 18px;
    line-height: 20px;
  }
  .guardians_left ul li {
    padding: 20px 0;
  }
  .guardians_left ul a {
    font-size: 14px;
    line-height: 16.8px;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    padding: 0;
    background-image: none;
  }
  .home img {
    width: 100%;
    display: block;
  }
  .home::before {
    display: none;
  }
  .home .container {
    max-width: 100%;
  }
  .home h6 {
    color: #4C240A;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
  .home p {
    color: #4C240A;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
  .home_in {
    max-width: 100%;
    padding: 28px 20px 52px 20px;
    background: #F3EBE1;
  }
  .tabs_head h6 {
    color: #4C240A;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
  .tabs_head button {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 15px 20px;
  }
  .tabs_btns {
    gap: 8px;
  }
}
@media only screen and (max-width: 576px) {
  .guardians_left p {
    margin-bottom: 28px;
  }
  .guardians_left ul {
    margin-top: 28px;
  }
}/*# sourceMappingURL=style.css.map */